<?xml version="1.0" encoding="utf-8"?>
<!--
	ESIEE OpenSource Project
		MARTEL Andy
		MERCANDALLI Jonathan
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.esieeAPE"
    android:versionCode="1"
    android:versionName="@string/app_versionName" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="21" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_launcher"
        android:isGame="true"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/app_theme" >
        <activity
            android:name="com.esieeAPE.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/app_theme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>